.question-group {
    color: #d8d8d8;
    max-width: 300px;
    font-size: 18px;
    text-align: left;
    position: fixed;
    top: 18%;
    left: 42px;
    &__title{
      font-weight: bold;
      margin-bottom: 6px;
    }
    &__item{
      margin-top: 30px;
    }
    animation: animationQuestion 1s ;
}

@keyframes animationQuestion {
  0% { 
      transform:translate(-500px, 0);
  }
  100% {
      transform:translate(0, 0);
  }
}