.main-background {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/background.jpg') no-repeat center center;
    background-size:cover;
    z-index: -10;
}