.landing-page {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .landing {
        animation: animationlanding 4s infinite;
    }
    @keyframes animationlanding {
        0% { 
            opacity: 0.4;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.4;
        }
    }
}