.result {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #d8d8d8;
}

.result-canvas {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #d8d8d8;
}

.result-loading {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    color: #d8d8d8;
    background: #000;
}

.result-image {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #d8d8d8;
    z-index: 200;
    img {
        width: 100%;
        height: 100%;
        z-index: 100;
        object-fit: cover;
    }
  
}
